<div class="container">
  
  <!-- form_withはデフォルトでremote: true(リクエストがhtml形式ではなくjs形式になる) -->
  <%= form_with url: map_search_path, method: :get do |f|%>
    <%= f.text_field :address %>
    <%= f.submit '地図表示' %>
  <% end %>

  <div id='map'></div>

  <%= form_with url: spots_path, method: :post do |f| %>
    <h4>住所</h4>
    <%= f.text_field :address, id: :address_field %>
    <h4>緯度</h4>
    <%= f.text_field :latitude, id: :lat %>
    <h4>経度</h4>
    <%= f.text_field :longitude, id: :lng %>
    <h4>場所の名前</h4>
    <%= f.text_field :spot_name %>
    <h4>場所の説明</h4>
    <%= f.text_field :spot_body %>
    <h4>カテゴリー</h4>
    <%= f.text_field :category %>
    <h4>ユーザーID</h4>
    <%= f.text_field :user_id %>
    <h4>場所の画像</h4>
    <%# <%= f.attachment_field :spot_image %>
    <%= f.submit '登録' %>
  <% end %>

  <script>
  // functionの中に入れちゃダメ
  var map;
  var makerJs;
  var infoWindow;
  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6628611, lng: 139.6972762},
      zoom: 15,
      mapTypeControl: false,
      streetViewControl: false,
      gestureHandling: 'cooperative',
    });

    // クリックイベントを追加
    map.addListener('click', function(e) {
      // クリック地点にピンを描画
      getClickLatLng(e.latLng, map);
      // 逆ジオコーディング
      reverse(e.latLng);
    });

    // 登録済みのspotを表示
    <% @spots.each do |spot| %>
      makerJs = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(
          <%= spot.latitude %>, //latitude
          <%= spot.longitude %>  //longitude
        )
      });
    <% end %>

    // クリック地点にピンを描画 　　
    var marker;
    function getClickLatLng(lat_lng, map) {
      
      //すでにピンが描画済みの場合、それを削除 
      if(marker){
        marker.setMap(null);
      }
      
      // 座標をフォームに表示
      $('#lat').val(lat_lng.lat());
      $('#lng').val(lat_lng.lng());
    
    　// マーカーを設置
      marker = new google.maps.Marker({
      position: lat_lng,
      map: map
      });

      // 座標の中心をずらす
      // Map.panTo()はMapクラスのメソッドです。地図の位置座標を絶対的に移動できます。
      map.panTo(lat_lng);

    }

    // 逆ジオコーディング
    var latlng;
    var geocoder;
    var address;
    function reverse(lat_lng){
      latlng = {lat: lat_lng.lat(), lng: lat_lng.lng()};
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({
        latLng: latlng
      }, 
        function(results, status){
          if (status == google.maps.GeocoderStatus.OK && results[0].geometry) {
            address = results[0].formatted_address;
            $('#address_field').val(address);
          }
        }
      )
    }
  }
  </script>

 <%# application.html.erbに記述すると、redirect時などに表示されなくなる %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBucemSsqWHgDVSWR5MJG9kEh2Zvl2yOWw&callback=initMap">
  </script>

</div>