<div class="container">
  
  <!-- form_withはデフォルトでremote: true(リクエストがhtml形式ではなくjs形式になる) -->
  <%= form_with url: map_search_path, method: :get do |f|%>
    <%= f.text_field :address %>
    <%= f.submit '地図表示' %>
  <% end %>

  <div id='map'></div>

  <%= form_with url: spots_path, method: :post do |f| %>
    <%= f.text_field :latitude, id: :latitude %>
    <%= f.text_field :longitude, id: :longitude %>
    <%= f.text_field :spot_name %>
    <%= f.submit '登録' %>
  <% end %>

  <script>
    // functionの中に入れちゃダメ
    let mapInstance;
    function initMap(){
      // ID('map')が＃IDということ
      mapInstance = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.6628611, lng: 139.6972762},
        zoom: 15,
        mapTypeControl: false,
        streetViewControl: false,
        gestureHandling: 'cooperative'
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBucemSsqWHgDVSWR5MJG9kEh2Zvl2yOWw&callback=initMap">
  </script>

</div>