<div class="container">
  
  <!-- form_withはデフォルトでremote: true(リクエストがhtml形式ではなくjs形式になる) -->
  <%= form_with url: map_search_path, method: :get do |f|%>
    <%= f.text_field :address %>
    <%= f.submit '地図表示' %>
  <% end %>

  <div id='map'></div>

  <%= form_with url: spots_path, method: :post do |f| %>
    <h4>住所</h4>
    <%= f.text_field :address, id: :address_field %>
    <h4>緯度</h4>
    <%= f.text_field :latitude, id: :latitude %>
    <h4>経度</h4>
    <%= f.text_field :longitude, id: :longitude %>
    <h4>場所の名前</h4>
    <%= f.text_field :spot_name %>
    <h4>場所の説明</h4>
    <%= f.text_field :spot_body %>
    <h4>カテゴリー</h4>
    <%= f.text_field :category %>
    <h4>ユーザーID</h4>
    <%= f.text_field :user_id %>
    <h4>場所の画像</h4>
    <%# <%= f.attachment_field :spot_image %>
    <%= f.submit '登録' %>
  <% end %>

  <script>
    // functionの中に入れちゃダメ
    let mapInstance;
    function initMap(){
      // ID('map')が＃IDということ
      mapInstance = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.6628611, lng: 139.6972762},
        zoom: 15,
        mapTypeControl: false,
        streetViewControl: false,
        gestureHandling: 'cooperative',
        draggable: true
      });
    }
  </script>
  <%# <%= @array_hoges.to_json %> 
  
  <%# application.html.erbに記述すると、redirect時などに表示されなくなる %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBucemSsqWHgDVSWR5MJG9kEh2Zvl2yOWw&callback=initMap">
  </script>

</div>