<div class="container">
  
  <!-- form_withはデフォルトでremote: true(リクエストがhtml形式ではなくjs形式になる) -->
  <%= form_with url: map_search_path, method: :get do |f|%>
    <%= f.text_field :address %>
    <%= f.submit '地図表示', id: "search-btn" %>
  <% end %>

  <%# ライブハウス検索フォーム %>
  <%= form_with url: livehouses_search_path, mothod: :get do |f| %>
    <%= f.collection_select :id, Livehouse.all, :id, :livehouse_name, :prompt => "ライブハウスを選択" %>
    <%= f.submit 'ライブハウスを表示' %>
  <% end %>

  <%= render 'map', ramens: @ramens, beers: @beers, coffees: @coffees, parkings: @parkings, places: @places, livehouses: @livehouses %>

<form class=”form-inline”>
  <div class="form">
    <%= form_with url: spots_path, method: :post do |f| %>
      <div class="form-group">
        <h4>住所</h4>
        <%= f.text_field :address, id: :address_field %>
      </div>
      <div class="form-group">
        <h4>緯度</h4>
        <%= f.text_field :latitude, id: :lat %>
      </div>
      <div class="form-group">
        <h4>経度</h4>
        <%= f.text_field :longitude, id: :lng %>
      </div>
      <div class="form-group">
        <h4>場所の名前</h4>
        <%= f.text_field :spot_name %>
      </div>
      <div class="form-group">
        <h4>場所の説明</h4>
        <%= f.text_field :spot_body %>
      </div>
      <div class="form-group">
        <h4>カテゴリー</h4>
        <%= f.select(:category, {ラーメン屋: 'ラーメン屋', 居酒屋: '居酒屋', 喫茶店: '喫茶店', 駐車場: '駐車場', その他: 'その他'}, :prompt => "カテゴリーを選択") %>
      </div>
      <div class="form-group">
        <h4>場所の画像</h4>
        <%# <%= f.attachment_field :spot_image %>
      </div> 
      <div class="form-group">
        <%= f.submit '登録' %>
      </div>
    <% end %>
  </div>
</form>

  <table class="table table-striped">
    <tr><th>場所の名前：</th><td id="table-spot-name"></td></tr> 
  </table>

</div>