var marker;
var pos;
var infoWindow;
(function(){
  if(marker){
    marker.setMap(null);
  }
  // 位置情報をもつ変数posを用意
  // @latlngにはaddressの緯度[0]経度[1]が代入されている
  pos = new google.maps.LatLng(
  <%= @latlng[0] %>, //latitude
  <%= @latlng[1] %>  //longitude
  );
  
  // Map.setCenter()はMapクラスのメソッドです。地図の位置座標をセットすると同時に、表示もその位置に変更されます。
  map.setCenter(pos)
    marker = new google.maps.Marker({
    map: map,
    position: pos,
  });

  infoWindow = new google.maps.InfoWindow({
    content: '<div class="message">message</div>'
  });
  marker.addListener('click', function(){
    infoWindow.open(map, marker);
  });

  $('#latitude').val(<%= @latlng[0] %>);
  $('#longitude').val(<%= @latlng[1] %>);
  // erbは<% %>と一緒に””も剥ぐ
  // ＃{}で変数展開。文字列内に変数の値を置くときに使われる
  // ==はエスケープ回避。rawでも一緒
  $('#address_field').val(<%== "'#{@address}'" %>);

})()