<div class="main">
  <div class="backcover-image">
    <%= attachment_image_tag @user, :backcover_image, :fill, 1300, 400, fallback: "/images/no_image.jpg" %>
  </div>
  <div class="user-icon">
    <%= attachment_image_tag @user, :icon_image, :fill, 100, 100, fallback: "/images/no_image.jpg" %>
  </div>
  <div class="user-name">
    <%= @user.user_name %>
  </div>
  <div class="user-body">
    <%= @user.user_body %>
  </div>
  <div class="user-edit">
    <%= link_to 'ユーザー情報編集', edit_user_path(@user) %>
  </div>
</div>