<div class="container">

  <%= form_with url: livehouses_search_path, method: :get do |f| %>
    <%= f.text_field :address %>
    <%= f.submit '検索', id: "search-btn" %>
  <% end %>

  <%= render 'spots/map', ramens: @ramens, beers: @beers, coffees: @coffees, parkings: @parkings, places: @places, livehouses: @livehouses %>
  
  <%= form_with url: livehouses_path, method: :post do |f| %>
    <h4>住所</h4>
    <%= f.text_field :address, id: :address_field %>
    <h4>緯度</h4>
    <%= f.text_field :latitude, id: :lat %>
    <h4>経度</h4>
    <%= f.text_field :longitude, id: :lng %>
    <h4>ライブハウス名</h4>
    <%= f.text_field :livehouse_name %>
    <h4>場所の説明</h4>
    <%= f.text_field :spot_body %>
    <h4>カテゴリー</h4>
    <%= f.select(:category, {ライブハウス: 'ライブハウス'}) %>
    <h4>場所の画像</h4>
    <%# <%= f.attachment_field :spot_image %>
    <%= f.submit '登録' %>
  <% end %>

</div>