<div class="container">

  <%= form_with url: livehouse_search_path, method: :get do |f| %>
    <%= f.text_field :address %>
    <%= f.submit '検索' %>
  <% end %>

  <div id='map'></div>
  <ul>
    
  </ul>

  <%= form_with url: livehouses_path, method: :post do |f| %>
    <h4>ライブハウス名</h4>
    <%= f.text_field :livehouse_name %>
    <h4>住所</h4>
    <%= f.text_field :address, id: :address_field %>
    <h4>緯度</h4>
    <%= f.text_field :latitude, id: :lat %>
    <h4>経度</h4>
    <%= f.text_field :longitude, id: :lng %>
    <%= f.submit '登録' %>
  <% end %>

<script>
var map;
function initMap() {

      // マップの初期化
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.6628611, lng: 139.6972762},
        zoom: 15,
        mapTypeControl: false,
        streetViewControl: false,
        gestureHandling: 'cooperative'
      });

      // クリックイベントを追加
      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });

      <% @spots.each do |spot| %>
          var makerJs = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(
            <%= spot.latitude %>, //latitude
            <%= spot.longitude %>  //longitude
            )
      });
      <% end %>
    }

    var marker;
    function getClickLatLng(lat_lng, map) {
      if(marker){
      marker.setMap(null);
      }
      // 座標を表示
      $('#lat').val(lat_lng.lat());
      $('#lng').val(lat_lng.lng());

  console.log(lat_lng.lat());
 console.log(lat_lng.lng());

      // マーカーを設置
        marker = new google.maps.Marker({
        position: lat_lng,
        map: map
      });

      // 座標の中心をずらす
      // http://syncer.jp/google-maps-javascript-api-matome/map/method/panTo/
      map.panTo(lat_lng);
    }

  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBucemSsqWHgDVSWR5MJG9kEh2Zvl2yOWw&callback=initMap">
  </script>

</div>