<!DOCTYPE html>
<html>
  <head>
    <title>BandBund</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBucemSsqWHgDVSWR5MJG9kEh2Zvl2yOWw&callback=initMap">
    </script>
  </head>

  <body>
    <div class="wrapper">
      <header>
      </header>
      <%= yield %>
      <footer>
      </footer>
    </div>
  </body>
</html>
